.best {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.best > h1 {
    font-size: 2.5rem;
    overflow: hidden;
}
.best>div {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.best>div p {
    margin: 1rem 1.8rem;
    font-size: 1.5rem;
}

.bold {
    font-weight: 700;
}

.best .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
    overflow: hidden;
}

.best img {
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width:940px) {
    .best {
        margin: 1rem 0;
        overflow: hidden;
    }

    .best>div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 478px) {
    .best>div p {
        margin: 1rem .5rem;
    }
}